<!doctype html>
<html lang="en">

<head>
    <title>Update Appointment</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <a href="/appointments">Dashboard</a> | <a href="/logout">Logout</a>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li style= "color: red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/change/{{task.id}}" method="post">
            {% csrf_token %}
            <p>Tasks: <input type="text" name="task" placeholder="{{task.task}}"> </p>
            <p>Status: <select name="status">
                    <option value="Pending">Pending</option>
                    <option value="Done">Done</option>
                    <option value="Missed">Missed</option>
                </select></p>
            <p>Date: <input type="date" name="date"> </p>
            <p>Time: <input type="time" name="time" value="{{task.time}}"> </p>
            <input type="submit" value="Update" class="btn-success">
        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>